:root {
  --primary-color: #0088cc;
  --primary-hover: #138496;
  --secondary-color: #6c757d;
  --danger-color: #dc3545;
  --success-color: #28a745;
  --background-color: #f8f9fa;
  --text-color: #333;
  --shadow-sm: 0 1px 3px rgba(0,0,0,0.1);
  --shadow-md: 0 2px 4px rgba(0,0,0,0.2);
  --floating-button-size: 50px;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  background-color: #fff;
  color: #333;
  min-height: 100vh;
}

.button-icon {
  width: 40px;
  height: 40px;
  pointer-events: none;
  display: block;
  margin: auto;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;
}

.logo-container {
  text-align: center;
  padding: 0;
  margin: 0;
}

.logo {
  width: 400px;
  height: auto;
  display: block;
  margin: 0 auto;
}

h1, h2 {
  font-size: 2rem;
  text-align: center;
  font-weight: normal;
  padding: 0;
  color: #333;
  text-indent: -5000px;
}

button {
  font-size: 1rem;
  background: #0088cc;
  text-align: center;
  color: white;
  border: none;
  border-radius: 4px;
  transition: all 0.2s ease;
  padding: 0.5rem;
  cursor: pointer;
}

/*button:hover:not(:disabled) {
  transform: translateY(-1px);
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}*/

button:active:not(:disabled) {
  transform: translateY(1px);
  box-shadow: none;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

button.import:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

button:focus-visible {
  outline: 2px solid #0088cc;
  outline-offset: 2px;
}

.combine-buttons {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin: 1.5rem auto;
  align-items: center;
  width: 100%;
  max-width: 800px;
  padding: 0 1rem;
}

button.combine,
button.normalize {
  all: unset;
  /*display: inline-flex;*/
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 80px;
  padding: 0;
  margin: 0;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;
  flex-shrink: 0;
}

button.combine { 
  background: #17a2b8;
  min-width: 350px;
}

button.normalize { 
  background: #138496;
  display: none;
  min-width: 350px;
  margin-left: 10px;
}

button.normalize.visible {
  display: inline-flex;
}

button.delete {
  background: #dc3545;
}

button.delete:hover {
  background: #c82333;
}

button.download {
  background: #28a745;
}

button.download:hover {
  background: #218838;
}

button.download, 
button.delete {
  padding: 0.5rem;
  font-size: 0.9rem;
  min-width: auto;
}

button.move-up,
button.move-down {
  background: #6c757d;
  padding: 0.5rem;
  min-width: 2rem;
}

button.move-up:hover,
button.move-down:hover {
  background: #5a6268;
}

.main-controls {
  background: #f8f9fa;
  padding: 1.5rem;
  border-radius: 8px;
  margin-bottom: 2rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#buttons {
  display: flex;
  gap: 0.5rem;
}

#buttons button {
  flex: 1;
  font-size: 1rem;
  padding: 1rem;
}

canvas {
  display: block;
  width: 100%;
  height: 60px;
  margin-bottom: 1rem;
  background: #fff;
  border-radius: 4px;
}

.sound-clips,
.combined-clips {
  background: #f8f9fa;
  padding: 1.5rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.combined-clips {
  margin-top: 2rem;
}

.combined-clips h3 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.clip {
  background: white;
  padding: 1rem;
  border-radius: 4px;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.clip:last-child {
  margin-bottom: 0;
}

.clip p {
  width: 150px;
  font-size: 0.9rem;
  color: #495057;
  cursor: pointer;
  padding: 0.25rem;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.clip p:hover {
  background-color: #f8f9fa;
}

.clip-buttons {
  display: flex;
  gap: 0.5rem;
}

audio {
  flex: 1;
  width: 100%;
}

audio::-webkit-media-controls-panel {
  background-color: #f8f9fa;
}

audio::-webkit-media-controls-play-button {
  background-color: #0088cc;
  border-radius: 50%;
}

audio::-webkit-media-controls-play-button:hover {
  background-color: #0ae;
}

.controls-container {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.pro-mode-toggle {
  position: static;
  cursor: pointer;
  background: white;
  /*width: 3rem;*/
  /*height: 3rem;*/
  /*border-radius: 50%;*/
  display: flex;
  align-items: center;
  justify-content: center;
  /*box-shadow: 0 2px 4px rgba(0,0,0,0.2);*/
  transition: 0.2s;
  font-size: 2rem;
  color: #333;
}

/*.pro-mode-active {
  color: white;
  background: #f8f9fa;
}*/

label.help-toggle {
  position: static;
  font-size: 2rem;
  cursor: pointer;
  color: #dc3545;
  background: white;
  /*width: 3rem;*/
  /*height: 3rem;*/
  /*border-radius: 50%;*/
  display: flex;
  align-items: center;
  justify-content: center;
  /*box-shadow: 0 2px 4px rgba(0,0,0,0.2);*/
  transition: transform 0.2s;
}

.mobile-mode-toggle {
  font-size: 2.2rem;
  color: #333;
  background: white;
  /*width: 3rem;*/
  /*height: 3rem;*/
  /*border-radius: 50%;*/
  display: flex;
  align-items: center;
  justify-content: center;
  /*box-shadow: 0 2px 4px rgba(0,0,0,0.2);*/
  transition: 0.2s;
  cursor: pointer;
  text-decoration: none;
}

.mobile-mode-toggle:hover {
  background: #f8f9fa;
  transform: translateY(-1px);
}

.mobile-mode-toggle:active {
  background: #e2e6ea;
  transform: translateY(1px);
  box-shadow: none;
}

.controls-container .mobile-mode-toggle {
  margin-top: 0.5rem;
}

.import-button {
  display: none;
  background: #138496;
  width: 100%;
}

.import-button.visible {
  display: block;
}

.import-button:hover {
  background: #0c5763;
}

.split {
  padding: 0.5rem;
  font-size: 1rem;
  background: #0088cc;
  color: white;
  border: none;
  border-radius: 4px;
  transition: all 0.2s ease;
  cursor: pointer;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.split:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

button.split {
  flex: 0.1;
  padding: 0.5rem;
  font-size: 0.9rem;
  height: 60px;
  min-width: 0;
  background: #2196F3;
  display: none; /* Hidden by default */
}

.pro-mode-active button.split {
  display: flex !important; /* Force l'affichage en mode pro */
  align-items: center;
  justify-content: center;
}

aside {
  position: fixed;
  top: 0;
  right: 0; 
  width: 1200px; 
  height: 100vh; 
  background-color: rgba(255, 255, 255, 1);
  padding: 2rem;
  transform: translateX(100%);
  transition: transform 0.3s ease-out;
  z-index: 999;
  overflow-y: auto; 
  overflow-x: hidden; 
}

aside p {
  font-size: 1.2rem;
  margin: 0.5rem 0;
  line-height: 1.6;
}

aside a {
  color: #0088cc;
  text-decoration: none;
}

aside a:hover {
  text-decoration: underline;
}

input[type=checkbox]:checked ~ aside {
  transform: translateX(0);
}

input[type="checkbox"] {
        display: none;
    }

.timer-display {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  text-align: center;
  margin: 10px 0;
  font-weight: bold;
  color: #333;
}

.countdown {
  font-size: 2.5rem;
  color: #dc3545;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.95);
  padding: 20px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  z-index: 1000;
}

.progress-container {
  width: 100%;
  background: #f0f0f0;
  border-radius: 4px;
  margin: 20px 0;
  overflow: hidden;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  display: none;
}

.progress-bar {
  width: 0;
  height: 30px;
  background: linear-gradient(45deg, #138496, #17a2b8);
  transition: width 0.3s ease-in-out;
  display: block;
  position: relative;
}

.progress-bar::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

.record .recordButton img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  animation: pulse 1s infinite;
}



.recording {
  background-color: var(--danger-color) !important;
  }

.progress-container.active {
  display: block;
}

.hidden { display: none !important; }
.visible { display: inline-block !important; }
.file-input { display: none; }

/**/
.import-options {
  display: none;
  /*flex-direction: column;*/
  gap: 10px;
  /*margin-top: 10px;*/
}

.import-option-btn {
  padding: 8px 12px;
  cursor: pointer;
}

.library-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.library-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
  max-height: 80vh;
  overflow-y: auto;
}

.library-source-info {
  margin: 10px 0;
  padding: 8px 12px;
  background-color: #f5f5f5;
  border-radius: 4px;
  font-weight: bold;
}

.library-filters {
  margin: 15px 0;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 10px;
}

#category-filter {
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.library-sounds-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 15px 0;
}

.library-sound-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.sound-info {
  display: flex;
  flex-direction: column;
}

.sound-name {
  font-weight: bold;
}

.sound-details {
  display: flex;
  gap: 10px;
  font-size: 0.8em;
  color: #666;
  margin-top: 3px;
}

.sound-category {
  background-color: #e0e0e0;
  padding: 2px 6px;
  border-radius: 3px;
}

.sound-source {
  font-style: italic;
}

.sound-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.preview-sound-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /*background-color: #eee;*/
  cursor: pointer;
  border: 1px solid #ddd;
}

.preview-sound-btn:hover {
  background-color: #ddd;
}

.play-icon, .pause-icon {
  font-size: 14px;
}

.select-sound-btn {
  padding: 5px 10px;
  cursor: pointer;
  background-color: #218838;
}

.close-library-btn {
  margin-top: 15px;
  padding: 8px 12px;
  cursor: pointer;
}




@media (min-width: 800px) {
  .wrapper {
    padding: 0 2rem 4rem 2rem;
  }
  
  body {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .clip {
    flex-wrap: wrap;
  }
  
  .clip p {
    width: 100%;
    text-align: center;
    margin-bottom: 0.5rem;
  }
  
  audio {
    width: 100%;
    margin: 0.5rem 0;
  }
  
  .clip-buttons {
    width: 100%;
  }
  
  .clip-buttons button {
    flex: 1;
  }

  .combine-buttons {
    flex-direction: column;
    gap: 16px;
    width: 100%;
    padding: 0 1rem;
  }
  
  button.combine,
  button.normalize,
  button.normalize.visible {
    width: 100%;
    max-width: 100%;
    min-width: unset;
    height: 70px;
  }
}